* {
  padding: 0;
  margin: 0;
  font: inherit;
  word-wrap: inherit;
  font-feature-settings: inherit;
}

*,::before,::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: 'Source Serif Pro', serif;
  font-size: 62.5%;
  line-height: 1;
  letter-spacing: .05em ;
  word-wrap: break-word;
  font-feature-settings: "palt";
}

p {
  line-height: 1.6;
}

body {
  min-height: 100vh;
  background: #f9ffff;
}

ul,
ol {
  list-style-type: none;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 16px;
}

input {
  background: transparent;
  border: 0;
  border-radius: 0;
}

button,
select {
  text-transform: none;
  border-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

select {
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.main {
  max-width: 1010px;
  padding: 15px;
  margin: 50px auto 0;
  background: #fff4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  &__title {
    font-size: 5rem;
  }
  &__heading {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  &__container {
    margin-top: 50px;
  }
  &__inner {
    // padding-top: 3%;
    margin-top: 30px;
  }
}

.grid {
  height: 400px;
  overflow-y: auto;
}

@import "./modules/**/*.scss";